doctype html
html(lang="ko")
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="/static/css/style.css")
        
        title #{pageTitle} | #{siteName}
    body
        if messages.error
            span=messages.error
        if messages.info
            span=messages.info
        if messages.ok
            span=messages.ok
        include partials/header.pug
        main
            block content
        include partials/footer.pug
    script(src="/static/js/main.js")
    block scripts
